
$separator-padding: 1em;

$font-family: "Lucida Console";

$container-width: 60%;
$container-width-desktop: 80%;
$container-width-tablet: 80%;
$container-width-phone: 100%;

$navbar-height: 64px;
$navbar-margin: (100% - $container-width) / 2;
$navbar-margin-desktop: (100% - $container-width-desktop) / 2;
$navbar-margin-tablet: 2rem;
$navbar-margin-phone: .8rem;

$footer-height: 3em;

/* COLORS */
$color-lightest: #dddddd;
$color-lighter: #bbbbbb;
$color-light: #999999;
$color-dark: #666666;
$color-darker: #444444;
$color-darkest: #111111;

$color-font-dark: #000000;
$color-font-light: #eeeeee;

/* SCREEN SIZES */
$screen-smallest: 460px;
$screen-small: 640px;
$screen-medium: 912px;
$screen-large: 1200px;


/* STYLE */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: $font-family;
}

a {
    text-decoration: none;
    color: inherit;

    &.default {
        color: $color-lighter;

        &:hover {
            color: $color-light;
        }
    }
}

/* UTILITY */

.justify {
    text-align: justify;
}

.separator-bottom {
    padding-bottom: $separator-padding;
    border-bottom: 1px solid $color-lightest;
}

.separator-top {
    padding-top: $separator-padding;
    border-bottom: 1px solid $color-lightest;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}


/* CONTAINER */

.container {
    width: $container-width;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $screen-large) {
        width: $container-width-desktop;
    }

    @media screen and (max-width: $screen-medium) {
        width: $container-width-tablet;
    }

    @media screen and (max-width: $screen-smallest) {
        width: $container-width-phone;
    }
}

.container-small {
    width: $container-width / 2;
    margin-left: auto;
    margin-right: auto;
}

/* NAVBAR */

.navbar {
    background: $color-darkest;
    height: $navbar-height;
    width: 100%;

    * {
        margin: 0;
        padding: 0;
        line-height: $navbar-height;
        list-style: none;
        text-decoration: none;
    }

    .logo {
        margin-left: $navbar-margin;
        color: $color-font-light;
        font-size: 2em;
        font-weight: bold;
        
        @media screen and (max-width: $screen-large) {
            margin-left: $navbar-margin-desktop;
        }

        @media screen and (max-width: $screen-medium) {
            margin-left: $navbar-margin-tablet;
        }

        @media screen and (max-width: $screen-smallest) {
            margin-left: $navbar-margin-phone;
        }
    }

    .menu {
        float: right;
        margin-right: $navbar-margin;

        @media screen and (max-width: $screen-large) {
            margin-right: $navbar-margin-desktop;
        }

        @media screen and (max-width: $screen-medium) {
            margin-right: $navbar-margin-tablet;
            position: fixed;
            width: 100%;
            height: 100vh;
            top: $navbar-height;
            left: -100%;
            background: $color-darker;
            text-align: center;
            transition: all .5s;
        }

        @media screen and (max-width: $screen-smallest) {
            margin-right: $navbar-margin-phone;
        }

        li {
            display: inline-block;
            margin: 0 5px;

            @media screen and (max-width: $screen-medium) {
                display: block;
                margin: 50px 0;
                line-height: 30px;
            }

            a {
                color: $color-font-light;
                font-size: 1.4em;
                padding: 7px 13px;
                text-transform: lowercase;
                
                @media (max-width: $screen-medium) {
                    font-size: 20px;
                }

                &:hover {
                    color: $color-lighter;
                    transition: .5s;
                }
            }
        }
    }

    .menu-btn {
        font-size: 2em;
        color: $color-font-light;
        float: right;
        margin-right: $navbar-margin-tablet;
        cursor: pointer;
        display: none;

        @media screen and (max-width: $screen-medium) {
            display: block;
        }
        
        @media screen and (max-width: $screen-smallest) {
            margin-right: $navbar-margin-phone;
        }

        &:hover {
            color: $color-lighter;
            transition: .5s;
        }
    }

    #menu-check {
        display: none;

        &:checked ~ .menu {
            @media screen and (max-width: $screen-medium) {
                left: 0;
            }
        }
    }
}

/* CONTENT */

.page-content {
    font-size: 1.1em;

    .block {
        padding: 2rem 0rem;
        line-height: 1.4em;

        & > .title {
            margin-bottom: 1.4em;
        }
    }
}

/* POST */

.post {
    padding: 2rem;
    margin: 1rem;

    @media screen and (max-width: $screen-medium) {
        padding: 2rem 0rem;
    }

    * {
        margin: 0px;
        padding: 0px;
    }

    .title {
        margin-bottom: 0.3em;
    }

    .meta {
        font-size: .85em;
        padding-left: 0.1em;
        
        @media screen and (max-width: $screen-small) {
            margin-top: 1em;
        }

        li {
            display: inline;
            margin-right: 0.6em;
            color: $color-lighter;

            @media screen and (max-width: $screen-small) {
                display: block;
            }

            .icon {
                padding-right: 0.4em;
            }
        }
    }

    .summary {
        margin: 0.6em 0em;
    }
}

/* PROJECTS */

.project-list {
    width: 80%;
    margin: 2em auto;
    list-style: none;
    padding: 0;

    @media screen and (max-width: $screen-large) {
        width: 100%;
    }

    li {
        margin-bottom: 1em;
        color: $color-dark;
        border: 1px solid $color-lightest;

        a {
            padding: 1em;
            margin: 0em;
            display: block;
            width: 100%;
            height: 100%;
        }

        span {
            float: right;
        }

        &:hover {
            border-color: $color-dark;
            transition: .5s;
        }
    }
}

/* CONTACT FORM */

form.contact
{
    padding: .8em .8em;
    outline: 1px solid $color-light;
    text-align: center;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    .title {
        text-align: left;
        padding-bottom: 1em;
        border-bottom: 1px solid $color-lighter;
    }

    section {
        margin: 0.6em 0;
        padding: 0.6em 0;

        label {
            display: block;
            text-align: left;
        }

        input, textarea {
            width: 100%;
            resize: none;
            font-size: 1em;
            font-family: $font-family;
            margin-top: 0.4em;
            border: 1px solid $color-light;
        }

        *::placeholder {
            color: $color-light;
            opacity: 1;
            text-transform: lowercase;
        }
    }

    button {
        display: inline-block;
        font-size: 1em;
        background: none;
        color: $color-light;
        border: 1px solid $color-light;
        padding: .8em 0em;
        margin-top: .6em;
        width: 100%;
        text-transform: lowercase;
        cursor: pointer;

        &:hover {
            color: $color-dark;
            border-color: $color-dark;
            transition: .5s;
        }
    }
}

/* FOOTER */

.page-footer {
    height: $footer-height;
    text-align: center;
    margin-top: 2rem;

    .content {
        border-top: 1px solid $color-lightest;
        line-height: $footer-height;
        list-style: none;
        text-transform: lowercase;
        padding: 0px;
        margin: 0px;

        li {
            display: inline;
            color: $color-lighter;

            @media screen and (max-width: $screen-medium) {
                display: block;
            }

            * {
                vertical-align: middle;
            }

            .icon {
                font-size: 1.4em;
                padding-right: 0.4em;
            }

            a:hover {
                color: $color-light;
                transition: .5s;
            }

            &:not(:last-child)::after {
                content: "|";
                margin: 1.25em;

                @media screen and (max-width: $screen-medium) {
                    content: "";
                    margin: 0;
                }
            }
        }
    }
}

/* MEDIA QUERY */

